
@{
    ViewBag.Title = "Tutor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile Details</h2>

<div class="clearfix">
    <div class="panel-body">
        <div class="table-responsive">
            <table>
                <tr>
                    <td>
                        @Html.Label("Name");
                    </td>
                    <td>
                        @Html.Label("name")
                        @*@Html.TextBoxFor(m => m.UserName, new { id="username"})*@
                    </td>
                </tr>
            </table>

        </div>
        
         </div>
</div>


